@model DataModels.Hospital

@{
    ViewBag.Title = "ViewHospital";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int isPrimary = ViewBag.IsPrimary;
}

@section HeaderSection
{
    <style>
        .primary-hospital{
            color: green;
        }
    </style>
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <center>
            <h3>Hospital Details</h3>
            @if (isPrimary == 1)
            {
                <h4><span class="primary-hospital">Primary Hospital</span></h4>
            }
        </center>
        <br />

        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.HospitalName) </th>
                    <td>@Html.DisplayFor(model => model.HospitalName)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Address) </th>
                    <td>@Html.DisplayFor(model => model.Address)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Phone1) </th>
                    <td>@Html.DisplayFor(model => model.Phone1)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Phone2) </th>
                    <td>@Html.DisplayFor(model => model.Phone2)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Email) </th>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
            </table>
            <center>
                @Html.ActionLink("Edit Details", "EditHospital", new { id = Model.HospitalId }, new { Class = "btn btn-primary" })
                @Html.ActionLink("Back to List", "ViewAllHospitals", new { }, new { Class = "btn btn-success" })
            </center>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
